/* INICIO SECCION ABOUT US */
.member-container {
    position: relative;
    margin: 10px 0;
}

.member-details {
    position: absolute;
    color: #fff;
    bottom: 20px;
    left: 20px;
}

.member-details span {
    font-size: 14px;
}

.member-details ion-icon {
    padding: 0 5px;
    font-size: 22px;
    color: rgb(14, 1, 1);
}

/* FIN SECCION ABOUT US */