/* INICIO SECCION ABOUT US */
.member-container {
    position: relative;
    margin: 10px 0;
}

.member-details {
    position: absolute;
    color: #fff;
    bottom: 20px;
    left: 20px;
}

.member-details span {
    font-size: 14px;
}

/* FIN SECCION ABOUT US */

/* INICIO SECCION FOOTER */
#footer {
    padding: 10px 0px;
    text-align: center;
    color: #fff;
}

#footer a {
    color: #868e96;
    text-decoration: none;
}

#footer a:hover {
    color: #fff;
}

#footer .list-inline .list-inline-item {
    padding: 0px 15px;
}

/* FIN SECCION FOOTER */