/* INICIO SECCION ABOUT US */
.member-container {
    position: relative;
    margin: 10px 0;
}

.member-details {
    position: absolute;
    color: #fff;
    bottom: 20px;
    left: 20px;
}

.member-details span {
    font-size: 14px;
}

/* FIN SECCION ABOUT US */

/* INICIO SECCION FOOTER */
#footer {
    padding: 10px 0px;
    text-align: center;
    color: #fff;
}

#footer a {
    color: #868e96;
    text-decoration: none;
}

#footer a:hover {
    color: #fff;
}

#footer .list-inline .list-inline-item {
    padding: 0px 15px;
}

/* FIN SECCION FOOTER */


/* MEDIA QUERIES */

@media (max-width: 575.98px) {
    h1 {
        font-size: 40px;
        line-height: normal;
    }
}

@media (min-width:576px) and (max-width: 767.98px) {}

@media (min-width:768px) and (max-width: 991.98px) {

    .logo-brand {
        margin-top: 32px;
    }
}

@media (max-width: 1200px) {}

/* FIN MEDIA QUERIES */